In [5]:
import pandas as pd
from IPython.display import clear_output
import ToolBox.kit_function as kit

In [8]:
columns = ['Nome','codigo','prc','imp','link']
alow = kit.readExcel('Dados/ABRAÇADEIRA.xlsx',columns)

In [6]:
tabela_1 = pd.DataFrame({
'Nome':['João', 'João', 'Pedro' , 'Caio'], 
'Telefone': ['12121', '343434', '565656', '787878'], 
'Carros': ['azul', 'preto', 'verde' , 'amarelo']})

tabela_2 = pd.DataFrame({
'Nome':['João', 'Marcelo', 'Thiago' , 'Caio'],  
'Irmãos': ['1', '3', '2' , '2']})

tabela_3 = pd.DataFrame({
'Nome':['João', 'João', 'Pedro' , 'Caio'], 
'Telefone': ['12121', '343434', '565656', '787878'], 
'Carros': ['BRANCO', 'PRATA', 'PRATA' , 'VERMELHO']})

In [4]:
pd.concat([tabela_1, tabela_3])

    Nome Telefone    Carros
0   João    12121      azul
1   João   343434     preto
2  Pedro   565656     verde
3   Caio   787878   amarelo
0   João    12121    BRANCO
1   João   343434     PRATA
2  Pedro   565656     PRATA
3   Caio   787878  VERMELHO